.main-button {
    padding: .7rem 1rem;
    border-radius: 7px;
    outline: none;
    background: #8B3DFF;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
}

.main-button:hover {
    background: #7731D8;
}

@media (max-width: 600px) {
    .main-button{
        width: 100%;
    }
}