.section-3-template {
    width: 100%;
    margin-top: 4rem;
}

.section-3-template h1 {
    text-align: center;
    font-size: 2rem;
}

.section-3-template p {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: gray;
}

.templates-container {
    width: 100%;
    margin-top: 3rem;
    columns: 5;
    column-gap: .4rem;
}

.templates-container .template {
    width: 100%;
}

.template img {
    max-width: 100%;
    width: 14rem;
    margin-bottom: .8rem;
    border-radius: 15px;
    break-inside: avoid;
    border: 1px solid #dfdfdf;
}


@media (max-width: 1200px) {
    .templates-container {
        max-width: 100%;
        columns: 4;
    }
}

@media (max-width: 900px) {
    .templates-container {
        max-width: 100%;
        columns: 3;
    }
}

@media (max-width: 660px) {
    .templates-container {
        max-width: 100%;
        columns: 2;
    }
}

